@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*==== Config. Gerais====*/

*{
    user-select: none;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*==== Scroll Personalizado ====*/
::-webkit-scrollbar{
	width: .5vw;
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent, var(--purple), var(--white-black));
	border-radius: 6px;
	transition: .6s ease-in;
}

/*==== Darkmode====*/ 
.darkmode{
    --white-black: #2b2b2b;
    --purple: #AD00FF;
    --black-white: #ffffff;
}

:root {
    --white-black: #ffffff;
    --purple: #AD00FF;
    --black-white: #2E2E2E;
}
.dark{
    padding-left: 95%;
    width: 60px;
    position: absolute;
}

@media screen and (max-width: 911px){
    .dark{
        padding-left: 90%;
        width: 60px;
        position: absolute;
    }
}

header .dark i{
    color: var(--white-black);
    font-size: 2rem;
    padding-top: 20px;
    cursor: pointer;
}

header .dark i:hover{
    color: var(--black-white);
    transition: .3s ease;
}

/*==== Header ====*/
button{
    background: transparent;
    border: none;
}

header{
    position: relative;
    height: 50vh;
    overflow: hidden;
    background: #000000;
}

header img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

header .contain-text{
    padding-top: 17vh;
    width: 90%;
    margin: auto;
    color: #ffffff;
}

header .contain-text h1{
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 4rem;
    margin-bottom: 20px;
}

/*==== About ====*/
#About{
    background: var(--white-black);
}

.about-text h1{
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--purple);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;    
}

.about-text p{
    font-weight: 400;
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    color: var(--black-white);
    padding-bottom: 2rem;
}

/*==== Certificações ====*/
#Certifica{
    background: var(--white-black);
    padding-bottom: 2.5rem;
}

#Certifica h1{
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--purple);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;  
}

.box-group{
    justify-content: space-between;
    margin: auto;
    display: flex;
    padding-bottom: 2rem;
    width: 90%;
}

.box{
    color: var(--black-white);
    padding: 40px;
    width: 25%;
    border-radius: 10px;
    border: 1px solid var(--purple);
}

.box:hover{
    color: var(--white-black);
    background: var(--black-white);
    transition: .3s ease-out;
}

.box h2{
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 28px;
}

.box p{
    font-weight: 300;
    padding-top: 5px;
    font-size: 15px;
    line-height: 18px;
}
@media screen and (max-width: 991px){
    .box-group{
        margin: auto;
        display: inline-block;
        padding-bottom: 0rem;
        width: 100%;
    }
    .box{
        color: var(--black-white);
        padding: 20px;
        margin: auto;
        width: 80%;
        margin-bottom: 1.5rem;
        border-radius: 10px;
        border: 1px solid var(--purple);
    }
}


/*==== Parallax ====*/
.img-parallax{
    background-color: #2E2E2E;
    width: 100%;
    height: 35vh;
    background: url(/assets/img/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 2s ease-in;
    position: relative;
    
}

/*==== Projetos ====*/
#project{
    background: var(--white-black);
    padding-bottom: 1rem;
}

#project h1{
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--purple);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;  
}
.group-projects{
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    width: 95%;
}

.box-project{
    color: var(--black-white);
    padding: 40px;
    border-radius: 10px;
    border: 1px solid var(--purple);
}

.box-project:hover{
    color: var(--white-black);
    background: var(--black-white);
    transition: .3s ease-out;
}

.box-project h2{
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 28px;
}

.box-project p{
    font-weight: 300;
    padding-top: 5px;
    font-size: 15px;
    line-height: 18px;
}

@media screen and (max-width: 991px){
    .group-projects{
        margin: auto;
        display: inline-block;
        padding-bottom: 0rem;
        width: 100%;
    }
    .box-project{
        color: var(--black-white);
        padding: 20px;
        margin: auto;
        width: 80%;
        margin-bottom: 1.5rem;
        border-radius: 10px;
        border: 1px solid var(--purple);
    }
}
