@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    user-select: none;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.darkmode{
    --white-black: #2b2b2b;
    --purple: #AD00FF;
    --black-white: #ffffff;
    transition: 2s ease;
}

:root {
    --white-black: #ffffff;
    --purple: #AD00FF;
    --black-white: #2E2E2E;
}

button{
    background: transparent;
    border: none;
}

header{
    position: relative;
    height: 50vh;
    overflow: hidden;
    background: #2b2b2b;
}

header img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.dark{
    padding-left: 95%;
    width: 60px;
    position: absolute;
}

header .dark i{
    color: var(--white-black);
    font-size: 2rem;
    padding-top: 20px;
    cursor: pointer;
}

header .contain-text{
    padding-top: 17vh;
    width: 90%;
    margin: auto;
}

header .contain-text h1{
    color: #ffffff;
    font-style: normal;
    font-weight: 300;
    font-size: 2.3rem;
    line-height: 47px;
    margin-bottom: 20px;
}

#About{
    background: var(--white-black);
}

.about-text h1{
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--purple);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;    
}

.about-text p{
    font-weight: 400;
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    color: var(--black-white);
    padding-bottom: 1.5rem;
}

#Certifica{
    background: var(--white-black);
}
#Certifica h1{
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--purple);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;  
}

.box-group{
    justify-content: space-between;
    margin: auto;
    display: flex;
    padding-bottom: 1.5rem;
    width: 90%;

}

.box{
    color: var(--black-white);
    padding: 25px;
    width: 25%;
    border-radius: 10px;
    border: 1px solid var(--purple);
}

.box h2{
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 28px;
}

.box p{
    font-weight: 300;
    padding-top: 5px;
    font-size: 15px;
    line-height: 18px;
}